*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* text-align: center; */
    background-color: black;
    margin: 0 auto;
    width: 70%;
    /* justify-content: center; */
/* align-items: center; */
padding: 0px 60px;
/* display: flex; */
flex-direction: column;
    height: 230px;    
    border-radius: 8px;
}
.box{
/* display: flex;
align-items: center;
justify-content: center; */
}
input{
    width: 70%;
    height: 130px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #e2e2e2;
}
button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}